* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


hr {
    width: 70px;    
    margin: 10px 0px 20px;
}

.form-contact {
    display: flex;
}

.form-message {
    margin-left: 100px;
}

.form-contact .contact a {
    margin-bottom: 30px;
    text-decoration: none   ;
    color: gray;
    display: block;
}

.form-input,
.btn {
    display: block;
}

.form-input,
.form-textarea {
    outline: none;
    margin-bottom: 10px;
    padding: 5px;
    width: 700px;
}

.btn {
    border: none;
    color: white;
    background-color: gray;
    padding: 10px 20px;
}

.btn:hover {
    background-color: rgb(122, 50, 50);
}


